<div class="container p-3">
<div class="row row-cols-1">

    <dx-select-box
        [dataSource]="statesData"
        valueExpr="id"
        displayExpr="nome" 
        [searchEnabled]="true"
        searchExpr="nome"
        searchMode="startswith"
        class="p-2" (onValueChanged)="onValueChanged($event)" id="state">
    </dx-select-box>

    <dx-select-box
    [dataSource]="citiesData"
    valueExpr="id"
    displayExpr="nome"
    [searchEnabled]="true"
    searchExpr="nome"
    searchMode="startswith"
    class="p-2 mt-2" 
    id="city" (onValueChanged)="onValueChanged($event)">
</dx-select-box>


<dx-data-grid  [dataSource]="citiesDataHistoric"
keyExpr="id"
    [allowColumnReordering]="true"  class="mt-4">
    <dxi-column
    dataField="nome" caption="Municipios"  sortOrder="asc"
    >
    </dxi-column>

</dx-data-grid>
</div>

</div>